@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-theme-color: #a10550;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
.header-list-text {
  font-size: clamp(12px, 1vmax, 24px);
}
.submenu__ads-text {
  font-size: clamp(13px, 1vmax, 14px);
}
/*!    Banner    */
.swiper {
  width: 100%;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  margin-top: 2rem;
  bottom: 0 !important;
  z-index: 20;
}
.swiper-pagination-bullet {
  width: clamp(1.5rem, 1vw, 2rem);
  height: 0.2rem;
  border-radius: 0;
}
.swiper-button-prev {
  top: 21px;
  left: 0;
  z-index: 30;
}
.swiper-button-next {
  top: 21px;
  right: 0;
  z-index: 30;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}
.banner__title {
  font-size: clamp(14px, 2.5vmax, 48px);
  text-wrap: nowrap;
}
.banner__button-text {
  font-size: clamp(12px, 0.8vmax, 48px);
}
/*!  Categories  */
.product-category__title {
  font-size: clamp(20px, 1.5vmax, 48px);
}
.product-category__text {
  font-size: clamp(8px, 1.1vmax, 48px);
  font-weight: 600;
}
/*! skin analysis */
.skincare-analysis {
  font-size: clamp(20px, 2vmax, 48px);
}
.skincare-analysis__title {
  font-size: clamp(20px, 1.5vmax, 48px);
}
.skincare-analysis__title-second {
  font-size: clamp(16px, 1.2vmax, 48px);
}
.skincare-analysis__text {
  font-size: clamp(16px, 1vmax, 40px);
}
.skincare-analysis__button-text {
  font-size: clamp(10px, 1.7vmax, 48px);
  text-wrap: nowrap;
}
/*! best seller */
.best-seller-product__title {
  font-size: clamp(16px, 1.2vmax, 48px);
}
.best-seller-product__text {
  font-size: clamp(12px, 0.8vmax, 48px);
}
@media only screen and (min-width: 768px) {
  .swiper-best-seller > .swiper-pagination {
    display: none;
  }
}
/*! new product */
.swiper-new-product .swiper-pagination {
  height: max-content;
  margin-top: 2.5rem;
}
.swiper-new-product .swiper-pagination .swiper-pagination-bullet {
  background: #cbcbcb;
}
.swiper-pagination-bullet-active {
  background-color: #a10550 !important;
}
.new-product__title {
  font-size: clamp(20px, 1.5vmax, 48px);
}
.new-product-banner__title {
  font-size: clamp(20px, 1.1vmax, 48px);
  font-weight: bold;
}
.new-product-banner__text {
  font-size: clamp(16px, 1vmax, 48px);
  font-weight: 200;
}
@media only screen and (min-width: 768px) {
  .swiper-new-product .swiper-pagination {
    display: none;
  }
}
/*! special offer */
.special-offer__title {
  font-size: clamp(20px, 1.2vmax, 48px);
  font-weight: bold;
}
.special-offer__text {
  font-size: clamp(20px, 1.7vmax, 48px);
  font-weight: bold;
}
.special-offer__text-second {
  font-size: clamp(14px, 0.9vmax, 48px);
}
/*!  Our Brand  */
.our-brand__title {
  font-size: clamp(20px, 1.5vmax, 48px);
  font-weight: bold;
}
.our-brand__text {
  font-size: clamp(16px, 1vmax, 18px);
}
.our-brand__button {
  font-size: clamp(14px, 1.1vmax, 18px);
}
/*!  Our Blog  */
@media only screen and (min-width: 768px) {
  .our-blog-swiper .swiper-pagination {
    display: none;
  }
}
.our-blog__title {
  font-size: clamp(20px, 1.5vmax, 48px);
  font-weight: bold;
}
.our-blog-post__title {
  font-size: clamp(16px, 1.1vmax, 48px);
  font-weight: bold;
}
.our-blog-post__info {
  font-size: clamp(12px, 0.7vmax, 14px);
}
.our-blog__button-text {
  font-size: clamp(14px, 1.1vmax, 15px);
}
.truncate-overflow {
  position: relative;
  --max-lines: 2;
  max-height: calc(1.4rem * var(--max-lines));
  overflow: hidden;
}
.truncate-overflow::after {
  content: "...";
  position: absolute;
  bottom: min(5px, 3px);
  right: 0;
  width: 2.2rem;
  height: max-content;
  background-color: white;
}
/*!     Footer    */
.suggested-value__text {
  font-size: clamp(10px, 0.8vmax, 18px);
}
.about-us__text {
  font-size: clamp(14px, 0.7vmax, 14px);
}
.about-us__text {
  font-size: clamp(14px, 0.7vmax, 14px);
}
.about-us__label input[type="checkbox"] {
  position: absolute;
  clip-path: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.custome-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}
.about-us__label input[type="checkbox"]:checked + .custome-checkbox::before {
  border-color: #0c0c0c;
}
.about-us__label input[type="checkbox"]:checked + .custome-checkbox::after {
  background-color: #0c0c0c;
}
.about-us__label .custome-checkbox::before {
  content: "";
  display: inline-block;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  border: 2px solid #cbcbcb;
}
.about-us__label .custome-checkbox::after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  border-radius: 2px;
  background-color: transparent;
  top: 4px;
  left: 4px;
  position: absolute;
}

.social-media__text {
  font-size: clamp(10px, 0.7vmax, 14px);
}
.privacy__text {
  font-size: clamp(10px, 0.7vmax, 14px);
}
