@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu-label__items {
    @apply w-full bg-white font-bold capitalize border-t-1 border-b-1 border-Gray-DFDFDF py-3 pl-1 pr-3;
  }
  /* filters */
  .filter-applied__items--label {
    @apply flex items-center cursor-pointer capitalize text-sm hover:text-primary-500;
  }
}
:root {
  --swiper-theme-color: #a10550;
}
*,
::after,
::before {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.text__sm {
  font-size: clamp(8px, 1vmax, 12px);
}
.text__md {
  font-size: clamp(12px, 1vmax, 16px);
}
.text__lg {
  font-size: clamp(16px, 1vmax, 20px);
}
.text__xl {
  font-size: clamp(20px, 1vmax, 24px);
}
.text__2xl {
  font-size: clamp(24px, 1.2vmax, 28px);
}
.text__3xl {
  font-size: clamp(28px, 1.4vmax, 32px);
}
.text__4xl {
  font-size: clamp(20px, 1.6vmax, 36px);
}

.title {
  color: #a10550;
  font-size: clamp(16px, 1vmax, 20px);
  font-weight: bold;
  margin: 1.5rem 0;
}
.title:first-child {
  margin-top: 0;
}
.description {
  color: #0c0c0c;
  font-size: clamp(12px, 1vmax, 16px);
  font-weight: 400;
  line-height: 1.5rem;
}

/*!    Banner    */
.swiper {
  width: 100%;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.swiper-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  margin-top: 2rem;
  bottom: 0 !important;
  z-index: 20;
}
.swiper-pagination-bullet {
  width: clamp(1.5rem, 1vw, 2rem);
  height: 0.2rem;
  border-radius: 0;
}
.swiper-button-prev {
  top: 21px;
  left: 0;
  z-index: 30;
}
.swiper-button-next {
  top: 21px;
  right: 0;
  z-index: 30;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: none;
}
@media only screen and (min-width: 768px) {
  .swiper-best-seller > .swiper-pagination {
    display: none;
  }
}
/*! new product */
.swiper-new-product .swiper-pagination {
  height: max-content;
  margin-top: 2.5rem;
}
.swiper-new-product .swiper-pagination .swiper-pagination-bullet {
  background: #cbcbcb;
}
.swiper-pagination-bullet-active {
  background-color: #a10550 !important;
}
@media only screen and (min-width: 768px) {
  .swiper-new-product .swiper-pagination {
    display: none;
  }
}
/*!  Our Blog  */
@media only screen and (min-width: 768px) {
  .our-blog-swiper .swiper-pagination {
    display: none;
  }
}
.truncate-overflow {
  position: relative;
  --max-lines: 2;
  max-height: calc(1.3vmax * var(--max-lines));
  overflow: hidden;
}
.truncate-overflow::after {
  content: "...";
  position: absolute;
  bottom: min(5px, 3px);
  right: 0;
  bottom: 0;
  width: 2.35rem;
  height: max-content;
  background-color: white;
}
.check-box__input {
  position: absolute;
  clip-path: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  opacity: 0;
}
.custome-checkbox {
  position: relative;
  display: flex;
  align-items: center;
}
.check-box__input:checked + .custome-checkbox::before {
  border-color: #0c0c0c;
}
.check-box__input:checked + .custome-checkbox::after {
  background-color: #0c0c0c;
}
.check-box__label .custome-checkbox::before {
  content: "";
  display: inline-block;
  border-radius: 3px;
  background-color: transparent;
  margin-right: 8px;
  height: 20px;
  width: 20px;
  border: 1px solid #cbcbcb;
}
.check-box__label .custome-checkbox::after {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background-color: transparent;
  top: 2px;
  left: 2px;
  position: absolute;
}

.fade-up {
  top: -100%;
}
.thumb-gallery-swiper,
.product-picture-swiper {
  width: 100%;
}
.thumb-gallery-swiper {
  height: 12vmax;
}
.thumb-gallery-swiper .swiper,
.product-picture-swiper .swiper {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1024px) {
  .thumb-gallery-swiper {
    width: clamp(5vw, 15%, 5vw);
    height: 100%;
  }
  .product-picture-swiper {
    width: 85%;
    height: 100%;
  }
}
/*! tabbar product detail page */
.active-tab {
  color: #a10550;
}
.tab-btn {
  text-wrap: nowrap;
}
